@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-100rem); }
  40% {
    opacity: 1;
    transform: translateX(10rem); }
  75% {
    opacity: 1;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(50rem); }
  70% {
    opacity: 1;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes backgrCards {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }

a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase; }

.breaking__line {
  width: 0.2rem;
  height: 50rem;
  margin: 0 10rem;
  background-color: #abceda; }

@media only screen and (max-width: 992px) {
  .breaking__line {
    margin: 0 2rem; } }

@media only screen and (max-width: 768px) {
  .breaking__line {
    width: 50rem;
    height: 0.2rem;
    margin: 7rem 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  background-color: #abceda;
  line-height: 1.5;
  color: #ccc;
  overflow-x: hidden; }

.top__wave,
.down__wave {
  display: block;
  width: 101%; }

.down__wave {
  box-shadow: 5px 0 0 #abceda; }

.heading {
  font-family: "Spartan"; }
  .heading__1 {
    font-size: 6rem;
    font-family: "Poppins";
    letter-spacing: 1rem;
    text-transform: uppercase; }
  .heading__2 {
    font-size: 4rem;
    line-height: 1.5; }
  .heading__3 {
    font-size: 2rem;
    text-align: center; }
  .heading__4 {
    font-size: 1.8rem;
    text-align: center; }

@media only screen and (max-width: 992px) {
  .heading__1 {
    font-size: 5rem; }
  .heading__2 {
    font-size: 3rem; }
  .heading__3 {
    font-size: 2rem; }
  .heading__4 {
    font-size: 1.6rem; } }

.btn {
  display: block;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1rem;
  cursor: pointer; }

.form__button {
  color: #bcd0c7;
  margin: 0 auto;
  width: 20rem;
  height: 7rem;
  font-weight: 700;
  font-size: 2rem;
  background: #0b5351;
  box-shadow: 0.5rem 0.5rem #001242;
  transition: 0.1s; }
  .form__button:hover {
    box-shadow: inset 0.2rem 0.2rem 0.3rem #bcd0c7, inset -0.2rem -0.2rem 0.3rem #01302e;
    transform: translate(1px, 1px); }

.form {
  padding: 5rem;
  width: 70%;
  margin: 0 auto; }
  .form__name, .form__email, .form__message, .form__btn {
    width: 100%;
    margin-bottom: 3rem; }
  .form__input {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #abceda;
    color: #333;
    border-bottom: 2px solid; }
    .form__input:focus {
      box-shadow: 0.5rem 0.5rem #001242;
      outline: none; }
    .form__input:invalid {
      border-bottom: 2px solid #c51e1e; }
    .form__input::placeholder, .form__input::-moz-placeholder {
      color: #001242; }
  .form__label {
    display: block;
    margin-left: 10.5rem;
    margin-top: 1rem;
    transition: all 0.3s;
    color: #001242; }
  .form textarea {
    resize: none;
    height: 20rem; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

@media only screen and (max-width: 992px) {
  .form {
    padding: 2rem;
    width: 100%; }
  __input {
    display: block; } }

.card {
  width: 90%;
  height: 55rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #8cbecf;
  box-shadow: inset 0.6rem 0.6rem 1rem #77a2b0, inset -0.5rem -0.5rem 0.5rem #93d0e2;
  position: relative; }
  .card__pic:before {
    content: "";
    width: 80.5%;
    height: 20.8rem;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 10%;
    left: 9.5%;
    z-index: 1;
    border-radius: 0.5rem; }
  .card__pic::after {
    content: "";
    width: 60%;
    height: 10%;
    position: absolute;
    top: 23rem;
    left: 20%;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    background: #8cbecf;
    z-index: 5;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center; }
  .card__pic img {
    width: 81%;
    height: 21rem;
    position: absolute;
    top: 10%;
    left: 9.5%;
    border-radius: 0.5rem; }
  .card__pic1:before {
    content: "";
    border: 1px solid #cb769e; }
  .card__pic1::after {
    content: "HTML/CSS/SASS";
    color: #cb769e;
    box-shadow: 0.5rem 0.5rem 0 #cb769e; }
  .card__pic2:before {
    content: "";
    border: 1px solid #0b5351; }
  .card__pic2::after {
    content: "JavaScript";
    color: #0b5351;
    box-shadow: 0.5rem 0.5rem 0 #0b5351; }
  .card__pic3:before {
    content: "";
    border: 1px solid #001242; }
  .card__pic3::after {
    content: "Fullstack";
    color: #001242;
    box-shadow: 0.5rem 0.5rem 0 #001242; }
  .card__text {
    width: 87%;
    height: 90%;
    padding: 1rem;
    background-color: #abceda;
    box-shadow: 0.2rem 0.2rem 0.5rem #5291a9;
    position: absolute;
    top: 5%;
    left: 7%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center; }
    .card__text p {
      color: #001242;
      font-size: 1.5rem;
      margin-bottom: 3rem; }
  .card__links {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .card__links--1 a {
      color: #cb769e; }
    .card__links--2 a {
      color: #0b5351; }
    .card__links--3 a {
      color: #001242; }
  .card__links a {
    display: block;
    width: 40%;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    background: linear-gradient(145deg, #b7dce9, #9ab9c4);
    box-shadow: 2px 2px 2px #87a3ac, -2px -2px 2px #cff9ff;
    transition: box-shadow 0.8s ease-in-out; }
    .card__links a:hover {
      background: #abceda;
      box-shadow: inset 2px 2px 2px #87a3ac, inset -2px -2px 2px #cff9ff; }

@media only screen and (max-width: 768px) {
  .card {
    width: 100%; } }

@media only screen and (max-width: 450px) {
  __pic::after {
    font-size: 1.2rem; }
  __pic img {
    width: 81%;
    height: 21rem;
    position: absolute;
    top: 10%;
    left: 9.5%;
    border-radius: 0.5rem; } }

#about {
  background-color: #0b5351;
  box-shadow: 5px 0 0 #abceda; }

.section__about {
  display: flex;
  justify-content: center;
  align-items: center; }
  .section__about--text, .section__about--skills {
    width: 40%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section__about--heading {
    text-align: center;
    color: #bcd0c7;
    margin-bottom: 5rem; }
  .section__about--icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; }
  .section__about--text p {
    text-indent: 5rem;
    margin: 1rem 0; }

.about__span--pink {
  color: #ffa6d0; }

.section__about--icons ion-icon,
.section__about--icons i {
  font-size: 10rem;
  margin: 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  color: #ffa6d0;
  box-shadow: inset 0.6rem 0.6rem 0.3rem rgba(1, 48, 46, 0.5), inset -0.2rem -0.2rem 0.3rem rgba(188, 208, 199, 0.5); }

@media only screen and (max-width: 992px) {
  .section__about--text, .section__about--skills {
    width: 50%; }
  .section__about--heading {
    margin-bottom: 3rem; }
  .section__about--icons ion-icon,
  .section__about--icons i {
    font-size: 10rem;
    margin: 3rem; } }

@media only screen and (max-width: 768px) {
  .section__about {
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem #0b5351, 0 -1rem #0b5351; }
    .section__about--text, .section__about--skills {
      width: 90%; }
  .section__about--icons ion-icon,
  .section__about--icons i {
    font-size: 10rem; } }

@media only screen and (max-width: 576px) {
  .section__about--icons ion-icon,
  .section__about--icons i {
    font-size: 8rem;
    margin: 1rem; } }

.section__contact {
  background-color: #cb769e; }
  .section__contact--heading {
    color: #001242; }
  .section__contact--container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .section__contact--heading {
    color: #001242; }

@media only screen and (max-width: 992px) {
  .section__contact--container {
    width: 90%;
    padding: 2rem; } }

@media only screen and (max-width: 768px) {
  .section__contact--container {
    width: 95%;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between; }
  .section__contact--heading {
    color: #001242;
    text-align: center;
    margin-bottom: 2rem; } }

.footer {
  background-color: #001242;
  padding: 2rem;
  position: relative; }
  .footer__link {
    color: #cb769e; }
    .footer__link:hover {
      color: #8cbecf; }
  .footer__heading {
    width: 30%;
    margin: 0 auto;
    font-weight: 400; }
  .footer__box {
    position: absolute;
    bottom: 0.2rem;
    right: 0.5rem;
    padding: 1rem; }
  .footer__icon {
    font-size: 8rem;
    margin-right: 3rem;
    color: #cb769e;
    border: 1px solid #cb769e;
    box-shadow: 0.3rem 0.3rem #cb769e;
    border-radius: 1rem;
    transition: all 0.5s; }
    .footer__icon:hover {
      box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(203, 118, 158, 0.3);
      color: #abceda;
      transform: translate(1px, 1px);
      border: 1px solid #abceda; }

@media only screen and (max-width: 992px) {
  .footer__icon {
    font-size: 6rem;
    margin-right: 1rem; } }

@media only screen and (max-width: 768px) {
  .footer {
    background-color: #001242;
    padding: 5rem 0;
    display: flex;
    flex-direction: column; }
    .footer__heading {
      width: 100%;
      margin-bottom: 5rem; }
    .footer__box {
      width: 100%;
      text-align: center; }
    .footer__icon {
      font-size: 6rem;
      margin-right: 1rem; } }

@media only screen and (max-width: 576px) {
  .footer__icon {
    font-size: 4rem; } }

.header {
  background-color: #001242;
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
  padding-top: 5rem;
  box-shadow: 5px 0 0 #abceda; }
  .header__hero {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .header__hero--imgs {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      filter: drop-shadow(-8.5rem 2.9rem 0.7rem #cb769e1c) drop-shadow(-6.2rem 1.7rem 0.38rem #cb769e12) drop-shadow(-4.1rem 1.1rem 0.3rem #cb769e0f) drop-shadow(-1.9rem 0px 0.2rem #cb769e0d); }
    .header__hero--pic {
      width: 25rem;
      height: 25rem;
      background-image: linear-gradient(180deg, rgba(203, 118, 158, 0.2), rgba(0, 18, 66, 0.2)), url("../../IMG/autormobile.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 2rem;
      border: 0.5rem solid #cb769e;
      animation: moveRight 1.5s 0.2s ease-out both; }
    .header__hero--icon {
      margin: 5rem;
      width: 15rem;
      height: 10rem;
      border-radius: 0.5rem;
      border: 2px solid transparent; }
      .header__hero--icon:hover {
        box-shadow: inset 5px 5px 5px #1b294b, inset -2px -2px 5px #4b5672; }
    .header__hero--github {
      color: #001242;
      background-color: #cb769e;
      animation: moveRight 1s 0.5s ease-out both; }
    .header__hero--resume {
      color: #001242;
      background-color: #abceda;
      animation: moveRight 1.5s 0.5s ease-out both; }
    .header__hero--text {
      width: 45%;
      color: #bcd0c7;
      padding-right: 2rem; }
    .header__hero--part2 {
      text-align: center; }
    .header__hero--part3 {
      text-align: right; }
    .header__hero--part4 {
      text-align: right; }
  .header__span--pink {
    color: #cb769e; }
  .header__span--blue {
    color: #ffa6d0; }

@media only screen and (max-width: 992px) {
  .header__hero {
    width: 100%;
    justify-content: center;
    align-items: center; }
    .header__hero--imgs {
      width: 40%;
      align-items: center; }
    .header__hero--text {
      width: 60%;
      padding-right: 4rem; } }

@media only screen and (max-width: 768px) {
  .header {
    padding-top: 5rem; }
    .header__hero {
      margin: 0 auto;
      width: 90%;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .header__hero--imgs {
        width: 100%;
        margin-bottom: 10rem; }
      .header__hero--pic {
        width: 24rem;
        height: 24rem; }
      .header__hero--icon {
        width: 15rem;
        height: 10rem; }
      .header__hero--text {
        width: 90%;
        padding-right: 1rem; } }

@media only screen and (max-width: 576px) {
  .header {
    margin-top: 0; }
    .header__hero {
      width: 100%; }
      .header__hero--imgs {
        width: 80%;
        margin-bottom: 5rem; }
      .header__hero--pic {
        width: 20rem;
        height: 20rem; }
      .header__hero--text {
        width: 90%;
        padding: 3rem 0; } }

@media only screen and (max-width: 450px) {
  .header {
    margin-top: 0; }
    .header__hero {
      width: 100%; }
      .header__hero--imgs {
        width: 80%; } }

.navigation {
  display: none; }

.navi {
  width: 100%;
  padding: 1.5rem;
  background-color: #000f36;
  color: #bcd0c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cb769e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .navi__logo {
    color: #cb769e;
    margin-left: 2rem;
    padding: 1rem 2rem;
    font-size: 2.5rem; }
    .navi__logo:hover {
      color: #abceda;
      border-radius: 2rem;
      background: #001242;
      box-shadow: inset 5px 5px 0 #05153f, inset -2px -2px 0 #2e4174; }
  .navi__list {
    display: flex;
    margin-right: 2rem;
    list-style: none; }
    .navi__list--link {
      color: #bcd0c7;
      padding: 1rem 4rem;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2rem;
      border-radius: 1rem; }
      .navi__list--link:hover {
        color: #cb769e;
        background: #001242;
        box-shadow: inset 5px 5px 0 #05153f, inset -2px -2px 0 #2e4174; }
    .navi__list--menu {
      display: none; }

.navigation__mobile {
  display: none; }

@media only screen and (max-width: 992px) {
  .navi {
    padding: 1rem; }
    .navi__logo {
      font-size: 2rem; }
    .navi__list {
      margin-right: 1rem; }
      .navi__list--link {
        font-size: 1.7rem;
        padding: 1rem 3rem; } }

@media only screen and (max-width: 768px) {
  .navi__logo {
    font-size: 1.5rem; }
  .navi__list {
    margin-right: 0.3rem; }
    .navi__list--link {
      font-size: 1.5rem;
      padding: 1rem 2rem; } }

@media only screen and (max-width: 576px) {
  .navi {
    display: none; }
  .navigation {
    display: block; }
    .navigation__checkbox {
      display: none; }
    .navigation__button {
      background-color: transparent;
      height: 6.5rem;
      width: 6.5rem;
      position: fixed;
      top: 0.5rem;
      left: 0.5rem;
      border-radius: 0.5rem;
      z-index: 20;
      box-shadow: inset 5px 5px 5px #282e3b, inset -2px -2px 5px #7c87a1;
      text-align: center;
      cursor: pointer; }
    .navigation__background {
      height: 6rem;
      width: 6rem;
      border-radius: 0.5rem;
      background-image: radial-gradient(#cb769e, transparent);
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);
      -moz-backdrop-filter: blur(1rem);
      position: fixed;
      top: 1rem;
      left: 1rem;
      z-index: 10;
      transition: transform 0.8s; }
    .navigation__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 15;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, 0.55, 0.265, 1.55); }
    .navigation__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center; }
    .navigation__item {
      margin: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #001242 50%);
      background-size: 250%;
      transition: all 0.4s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #cb769e;
      transform: translateX(1rem); }
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80); }
    .navigation__checkbox:checked ~ .navigation__nav {
      opacity: 1;
      width: 100%; }
    .navigation__checkbox:checked ~ .navigation__button {
      background-color: transparent;
      box-shadow: inset 5px 5px 5px #6d5a62, inset -2px -2px 5px #eecbdb; }
    .navigation__icon {
      position: relative;
      margin-top: 3rem; }
      .navigation__icon, .navigation__icon:before, .navigation__icon:after {
        width: 3.5rem;
        height: 2px;
        background-color: #fff;
        display: inline-block; }
      .navigation__icon:before, .navigation__icon:after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.5s; }
      .navigation__icon:before {
        top: -1.1rem; }
      .navigation__icon:after {
        top: 1.1rem; }
    .navigation__button:hover .navigation__icon:before {
      top: -1.2rem; }
    .navigation__button:hover .navigation__icon:after {
      top: 1.2rem; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      background-color: transparent; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg); } }

.section__projects {
  background-color: #8cbecf;
  box-shadow: 5px 0 0 #abceda; }
  .section__projects--container {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    justify-items: center; }
  .section__projects--heading {
    margin: 3rem 0;
    color: #001242;
    text-align: center;
    text-transform: uppercase; }
