// COLORS
$color-nav: #000f36;

$color-primary: #001242;
$color-primary-light: #abceda;
$color-primary-dark: #8cbecf;

$color-secondary: #0b5351;
$color-secondary-light: #bcd0c7;
$color-secondary-dark: #01302e;

$color-tertiary: #cb769e;
$color-tertiary-light: #ffa6d0;

$color-gray-light-1: #ccc;
$color-gray-light-2: #eee;
$color-gray-light-3: #f4f4f4;

$color-gray-dark-1: #999;
$color-gray-dark-2: #777;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font: "Spartan";
$second-font: "Poppins";
