.btn {
    display: block;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
}

.form__button {
    color: $color-primary;
    margin: 0 auto;
    width: 20rem;
    height: 7rem;
    background: linear-gradient(145deg, #d97ea9, #b76a8e);
    box-shadow: 2px 2px 2px #8c516d, -2px -2px 2px #ff9bcf;

    &:hover {
        background: $color-tertiary-light;
        box-shadow: inset 2px 2px 2px #8c516d, inset -2px -2px 2px #ff9bcf;
    }
}

.projects__button--link {
    color: $color-primary;
    text-transform: uppercase;
    padding: 1rem 4rem;
    background: linear-gradient(145deg, #96cbdd, #7eabba);
    box-shadow: 2px 2px 2px #749eac, -2px -2px 2px #a4def2;

    &:hover {
        background: #8cbecf;
        box-shadow: inset 2px 2px 2px #749eac, inset -2px -2px 2px #a4def2;
    }
}
