.btn {
	display: block;
	border: none;
	text-align: center;
	text-transform: uppercase;
	border-radius: 1rem;
	cursor: pointer;
}

.form__button {
	color: $color-secondary-light;
	margin: 0 auto;
	width: 20rem;
	height: 7rem;
	font-weight: 700;
	font-size: 2rem;
	background: #0b5351;
	box-shadow: 0.5rem 0.5rem #001242;
	transition: all 0.5s;

	&:hover {
		box-shadow: inset 0.2rem 0.2rem 0.3rem $color-secondary-light,
			inset -0.2rem -0.2rem 0.3rem $color-secondary-dark;

		transform: translate(1px, 1px);
	}
}
