@keyframes moveRightNav {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(50rem);
    }

    70% {
        opacity: 1;
        transform: translateX(-30rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
