// RESET

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: $second-font, sans-serif;
    background-color: $color-primary-light;
    line-height: 1.5;
    color: #ccc;
    scroll-behavior: smooth;
}

.top__wave,
.down__wave {
    display: block;
    width: 100%;
}

.down__wave {
    margin-bottom: 8rem;
}
