.section__contact {
    background-color: $color-tertiary;
    box-shadow: 0 1rem $color-tertiary, 0 -1rem $color-tertiary &--heading {
        color: $color-primary;
    }

    &--container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &--heading {
        color: $color-primary;
    }
}

@media only screen and (max-width: 992px) {
    .section__contact {
        &--container {
            width: 90%;
            padding: 2rem;
        }
    }
}
