.header {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;

    &__hero {
        padding: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
