.section__projects {
    background-color: $color-primary-dark;
    padding: 5rem;

    &--container {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(15rem, min-content));
        gap: 5rem;
    }
}
