.section__projects {
	background-color: $color-primary-dark;

	&--container {
		padding: 5rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap: 5rem;
		justify-items: center;
	}

	&--heading {
		margin: 3rem 0;
		color: $color-primary;
		text-align: center;
		text-transform: uppercase;
	}
}
